<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pflanz Arzt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-index.css') }}">
</head>
<body>
    <header>
        <h1>Pflanz Arzt</h1>
    </header>
    <div id="upload-form">
        <input type="file" id="file-input" accept="image/*" required>
        <button id="submit-button">Predict</button>
    </div>
    <img id="uploaded-image" src="" alt="Uploaded Image">
    <div id="prediction"></div>
    <div id="false_btn"></div>
    <div id="update">Update model</div>

    <script type="text/javascript" src="/static/index.js"></script>
</body>
</html>
